{% load static %}
<html>
{% include "base.html" %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

</style>
</head>
<body style="font-family:Verdana;color:#aaaaaa;">

<div style="background-color:#e5e5e5;padding:5px;text-align:center;">
  <h1>WELCOME TO NEW ADDMISSION PROCESS</h1>
</div>



<CENTER><img src="{% static 'img/newreg.png' %}" HEIGHT=390></CENTER>

<div style="background-color:blue;text-align:center;padding:10px;margin-top:10px;">© copyright studentregistrationsystem.com</div>

</body>
</html>

